@mixin flexBox($flex, $align, $justify) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin fonts($f-family, $f-size, $f-weigth, $ln-height, $f-color) {
    font-family: $f-family;
    font-size: $f-size;
    font-weight: $f-weigth;
    line-height: $ln-height;
    color: $f-color;
}