$font_family_title:'Audiowide', cursive;;
$font_family_subtitle: 'DM Mono', monospace;
$font_family_text: 'Inter', sans-serif;
$font_size_body: 16px;
$font_weight_body: 400;

// $background_body: #fff;
// $text_color_body:#4B5D68;
// $title_color_main:#212353;